{% extends "layout/base.html" %}

{% block title %}
Create New Student
{% endblock title %}

{% block content %}

{% include "message/messages.html" %}
<a href="/level/create" class= "btn btn-primary float-end mt-1 me-1">Create New Information</a>
<div class="col-md-6 mx-auto mt-3">
    <form action= "/students/store" method="post">
        {% csrf_token %}
        <div class="mb-3"> 
            <label for="first_name"> First Name </label>
            <input type="text" class="form-control" id="first_name" name="first_name"/>
        </div>
        <div class="mb-3"> 
            <label for="middle_name"> Middle Name </label>
            <input type="text" class="form-control" id="middle_name" name="middle_name"/>
        </div>
        <div class="mb-3"> 
            <label for="last_name"> Last Name </label>
            <input type="text" class="form-control" id="last_name" name="last_name"/>
        </div>
        <div class="mb-3"> 
            <label for="age"> Age </label>
            <input type="text" class="form-control" id="age" name="age"/>
        </div>
        <div class="mb-3"> 
            <label for="birth_date"> Birth Date </label>
            <input type="date" class="form-control" id="birth_date" name="birth_date"/>
        </div>
        <div class="mb-3"> 
            <label for="gender"> Gender </label>
            <input type="text" class="form-control" id="gender" name="gender"/>
        </div>
        <div class="mb-3"> 
            <label for="program"> Program </label>
            <input type="text" class="form-control" id="program" name="program"/>
        </div>
        <div class="mb-3"> 
            <label for="level_id"> Year Level </label>
            <select name="level_id" id="level_id" class="form-select">
                <option value= ""> N/A </option>
                {% for level in level  %}
                    <option value= "{{level.level_id}}">{{level.level}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3"> 
            <label for="username"> Username  </label>
            <input type="text" class="form-control" id="username" name="username"/>
        </div>
        <button type= "submit" class= "btn btn-success float-end"> Pay Tuition</button>
        <a href="/students" class="btn btn-primary float-end col-12 col-md-3 me-1"> Cancel</a>
    </form> 
</div>           
{% endblock content %}