{% extends "layout/base.html" %}

{% block title %}
List of User
{% endblock title %}

{% block content %}
{% include "message/messages.html" %}

<div class="col-6"> 
    <label for="first_name"> Name </label>
    <input type="text" class="form-control" id="first_name" name="first_name"/>
</div>
<div class="col-6"> 
    <label for="first_name"> Student ID </label>
    <input type="text" class="form-control" id="first_name" name="first_name"/>
</div>
<a href="/students/read" class= "btn btn-primary col-6 mt-1 me-1">Log in</a>

{% endblock content %}